*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}

.box {
    border-radius: 4px;
    margin-bottom: 2em;
    background: #2c2c32;
    text-align: center;
}

#about{
    background-color: #639d56;
}
footer{
    background-color: #000;
}